 <ng-container>
    <!-- <div class="col s12 m6 l4 xl3 card " *ngIf="carousel">
          <div
            class="user-carousel-container "
            (click)="toggleCarousel($event,false)"
          >
           <ng-container *ngIf="files && files.length > 0">
             <ng-container *ngFor=" let itemData of files">
              <img *ngIf="itemData.type === 'image'" class='image-carousel' [src]="itemData.url" [alt]="itemData.url" draggable="false" />
             </ng-container>
           </ng-container>
            <div class="user-carousel-content">
              <h3
                (click)="edit($event, location.id)"
                [class]='location.status === "I" ? "inactive" : ""'
              >
                {{location.name}}
              </h3>
              <p>{{location.description}}</p>
            </div>
          </div>
        </div> -->

        <li *ngIf="!carousel" class="col s12 m6 l4 xl3 card" (click)="toggleCarousel($event, true)">
          <section>
            <div class="cover" [ngStyle]="{ 'background-image': 'url(' + location.imageURL + ')'}">
            </div>
            <h3>{{location.name}}</h3>
          </section>
        </li>
    
    
 </ng-container>