<div class='view-container'>
    <header>
      <!-- <h2>{{resource.articles}}</h2> -->
      <h2>Articles</h2>
      <div class='btn-group'>
        <button *ngIf="view !== 'table'" type='button' id='btnTable' name='btnTable' class='btn-table' (click)="changeView('table')"></button>
        <button *ngIf="view === 'table'" type='button' id='btnListView' name='btnListView' class='btn-list-view' (click)="changeView('listview')"></button>
        <button *ngIf="addable" type='button' id='btnNew' name='btnNew' class='btn-new' (click)="add()"></button>
      </div>
    </header>
    <div>
      <form id='articlesForm' name='articlesForm' novalidate>
        <section class='row search-group'>
          <label class='col s12 m4 search-input'>
            <select (change)='onPageSizeChanged($event)'>
              <option *ngFor='let p of pageSizes' [value]='p' [selected]='p === pageSize'>{{p}}</option>
            </select>
            <input type='text' id='q' name='q' [(ngModel)]='filter.q' maxlength='1000' placeholder='{{resource.keyword}}'/>
            <button type='button' [hidden]="!filter.q" class='btn-remove-text' (click)="clearQ()" ></button>
             <button type='button' class='btn-filter' (click)="toggleFilter($event)"></button>
            <button type='submit' class='btn-search' (click)='search($event)'></button>
          </label>
          <pagination class='col s12 m8' id='pageIndex' name='pageIndex' *ngIf='showPaging' [(ngModel)]='pageIndex'
                      (pageChanged)='pageChanged($event)' (numPages)='pageIndex = $event' [directionLinks]='false'
                      [totalItems]='itemTotal' [maxSize]='pageMaxSize' [itemsPerPage]='pageSize'></pagination>
        </section>
        <section class='row search-group inline' [hidden]="hideFilter">
          <label class='col s12 m4 l4'>
            {{resource.person_title}}
            <input type='text'
                   id='title' name='title'
                   [value]='filter.title'
                   [(ngModel)]='filter.title'
                   maxLength='255'
                   placeholder='{{resource.person_title}}'/>
          </label>
          <label class='col s12 m4 l4'>
            {{resource.description}}
            <input type='text'
                   id='description' name='description'
                   [value]='filter.description'
                   [(ngModel)]='filter.description'
                   maxLength='255'
                   placeholder='{{resource.description}}'/>
          </label>
          
        </section>
      </form>
      <form class='list-result'>
        <div *ngIf="view === 'table' && list && list.length > 0" class='table-responsive'>
          <table>
            <thead>
              <tr>
                <!-- <th>{{resource.sequence}}</th> -->
                <th data-field='id'><button type='button' id='sortId' (click)="sort($event)">
                    <!-- {{resource.article_id}} -->
                    Id
                </button></th>
                <th data-field='title'><button type='button' id='sortTitle' (click)="sort($event)">{{resource.person_title}}</button></th>
                <th data-field='description'><button type='button' id='sortDescription' (click)="sort($event)">{{resource.description}}</button></th>

              </tr>
            </thead>
            <tr *ngFor="let item of list;let i = index" (click)="edit(item.id)">
              <td>{{item.id}}</td>
              <td>{{item.title}}</td>
              <td>{{item.description}}</td>
              
            </tr>
          </table>
        </div>
        <ul *ngIf="view !== 'table' && list && list.length > 0" class='row list-view'>
          <li *ngFor="let item of list;let i = index" class='col s12 m6 l4 xl3' (click)="edit(item.id)">
            <section>
              
              <div>
                <h3 (click)="edit(item.id)">{{item.title}}</h3>
                <p>{{item.description}}</p>
              </div>
              <button class='btn-detail'></button>
            </section>
          </li>
        </ul>
      </form>
    </div>
  </div>
  